<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Экомебель</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="header">
        <div class="logo">ЭкоМебель</div>
        <div class="nav">
            <a href="#">Каталог</a>
            <a href="#">Поиск</a>
            <a href="#">Корзина</a>
            <a href="#">Вход</a>
        </div>
    </div>
    </header>
    {% block main %}
    {% endblock %}
</body>
</html>