<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Экомебель</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header style="background-color: #e7e7e7ff; padding: 20px;">
        <h1 style="display: inline;">ЭкоМебель</h1>
        <div style="display: inline; float: right;">
            <span>Каталог</span>
            <input type="text" placeholder="Поиск">
            <span>Корзина</span>
            <span>Вход</span>
        </div>
    </header>
    {% block main %}
    {% endblock %}
</body>
</html>