<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'header.html' %}
<body>
    {%block main%}
    <h1 class="catalog-title">Каталог</h1>
    
 <div style="background-color: #e7e7e7ff; border: 1px solid black; padding: 10px; margin: 10px; display: inline-block;">
            <a href="sofas.html" style="text-decoration: none; color: black;">
                <img src="/images/диваны.png" alt="Диваны" width="200">
                <h3>Диваны</h3>
            </a>
        </div>
        <div style="background-color: #e7e7e7ff; border: 1px solid black; padding: 10px; margin: 10px; display: inline-block;">
            <a href="beds.html" style="text-decoration: none; color: black;">
                <img src="/images/кровати.png" alt="Кровати" width="200">
                <h3>Кровати</h3>
            </a>
        </div>
        <div style="background-color: #e7e7e7ff; border: 1px solid black; padding: 10px; margin: 10px; display: inline-block;">
            <a href="armchair.html" style="text-decoration: none; color: black;">
                <img src="/images/кресла.png" alt="Кресла" width="200">
                <h3>Кресла</h3>
            </a>
        </div>
        <div style="background-color: #e7e7e7ff; border: 1px solid black; padding: 10px; margin: 10px; display: inline-block;">
            <a href="chairs.html" style="text-decoration: none; color: black;">
                <img src="/images/стулья.png" alt="Стулья" width="200">
                <h3>Стулья</h3>
            </a>
        </div>
        <div style="background-color: #e7e7e7ff; border: 1px solid black; padding: 10px; margin: 10px; display: inline-block;">
            <a href="tables.html" style="text-decoration: none; color: black;">
                <img src="/images/столы.png" alt="Столы" width="200">
                <h3>Столы</h3>
            </a>
        </div>
    {%endblock%}
</body>
</html>